@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:wght@500&family=Oswald:wght@500&family=Roboto+Condensed:ital@1&family=Roboto:wght@300;400;700&display=swap');

body{
  background-image: url(./images/Internship\ bg.jpg);
}

.back-button {
  text-decoration: none;
  color: rgb(151, 151, 151);
}

/**card styling starts **/
.internships-card {
  margin-top: 5vh;
}

.company-name {
  color: rgb(60, 60, 60);
}

.common-button {
  margin-top: 5px;
  margin-left: 18vw;
}

.internships-cards h3 {
  color: #fd7014;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.content{
  margin: 5px 15px;
}

.about{
  margin-bottom: 0px;
  margin-left: 10px;
  margin-top: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 550;
  color: rgb(49, 49, 49);
}

i{
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.location-container{
  margin-left: 25%;
}

.location, .type{
  font-family: 'Fira Sans', sans-serif;
  color: rgb(103, 98, 98);
}

.type-container , .location-container > i{
  color: blue;
}

.internships-card:hover {
  box-shadow: 0 0px 6px rgb(250, 135, 4);
  transition: all 0.3s linear;
  transform: scale(1.05);
}

/** Card styling ends **/
.discord{
  padding: 20px;
}

.discord > .discord-link{
  text-decoration: none;
  background-color: rgb(227, 227, 227);
  color: #fd7014;
  border-radius: 20px;
  padding: 12px;
}

.discord-link:hover {
  background-color: transparent;
  color: #fd7014;
  background-color: aliceblue;
  box-shadow: 0 0.5px 1px rgb(92, 92, 92);
}
